$white: #fff;
$very-off-white: #fffaf3;
$off-white: #eee;
$off-white2: #e8e8e8;
$orange: #f8981d;
$dark-orange: #ba7316;
$very-light-brown: #b3a89c;
$light-brown: #7f796c;
$brown: #8a7a67;
$dark-brown: #4f4b43;
$dark-grey: #333;
$black: #000;

$body--text: $dark-grey;

$header--background: $white;
$header__content-section--background: $orange;
$our-approach--background: $white;
$quote--background: $off-white;
$our-services--background: $very-light-brown;
$our-process--background: $very-off-white;
$our-clients--background: $very-light-brown;
$our-team--backgroud: $white;
$footer--background: $orange;

$header-main-nav-list-item-link--text: $orange;
$header-content-callout-2--text: $black;
$header-content-callout-1--text: $black;
$quote-content-cite-text--text: $brown;

$header-nav-bar-section--background: $white;
$header-nav-bar-section--border: $dark-orange;

$our-approach-title--text: $orange;
$our-services-title--text: $white;
$our-process-title--text: $orange;
$our-clients-title--text: $white;
$our-team-title--text: $orange;
$contact-us-title--text: $white;

$our-approach-data-list--border: $off-white2;
$our-approach-data-list-button--text: $brown;
$our-approach-data-list-button--border: $off-white2;

$our-services-data-list-button--background: $light-brown;
$our-services-data-list-button--text: $white;
$our-services-data-list-button--background--hover: $orange;
$our-services-data-list-button--background--active: $dark-brown;
$our-services-data-list-data--background: $white;