/*
        ____                           __
       /  _/___ ___  ____  ____  _____/ /_
       / // __ `__ \/ __ \/ __ \/ ___/ __/
     _/ // / / / / / /_/ / /_/ / /  / /_
    /___/_/ /_/ /_/ .___/\____/_/   \__/
                 /_/
*/

@import "compass";
@import "colors";
@import "mixins";





/*
       ________      __          __
      / ____/ /___  / /_  ____ _/ /
     / / __/ / __ \/ __ \/ __ `/ /
    / /_/ / / /_/ / /_/ / /_/ / /
    \____/_/\____/_.___/\__,_/_/

*/

* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

a, button {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

html, body {
    color: $body--text;
    height: 100%;
    width: 100%;
}

.lt-ie10,
.lt-ie10 body {
    height: auto;
}

// <img> fix
img {
    height: auto;
    max-width: 100%;
}

.heading--h2 {
    color: $heading-h2--text;
    text-transform: uppercase;
    margin: 1em 0 .2em 0;
}

.heading--h3 {
    color: $heading-h3--text;
    margin: 0 0 1em 0;
    text-transform: uppercase;
}

.heading--h4 {
    color: $heading-h4--text;
    margin: 1em 0 .3em 0;
}

// Active state
.active {
    display: block !important;
}

// Text align center
.center,
.header__content,
.inner-section__heading--h2,
.inner-section__main-text {
    text-align: center;
}





/*
        ______            __        ______                _ __
       / ____/___  ____  / /_      / ____/___ _____ ___  (_) /_  __
      / /_  / __ \/ __ \/ __/_____/ /_  / __ `/ __ `__ \/ / / / / /
     / __/ / /_/ / / / / /_/_____/ __/ / /_/ / / / / / / / / /_/ /
    /_/    \____/_/ /_/\__/     /_/    \__,_/_/ /_/ /_/_/_/\__, /
                                                          /____/
*/

// HelveticaNeue Medium
.header__main-nav__list__item__link {
    font-family: "HelveticaNeue Medium", arial, sans-serif;
    font-weight: 600;
}

// HelveticaNeue Bold
.header__content__callout-1 {
    font-family: "HelveticaNeue Bold", arial, sans-serif;
    font-weight: 700;
}

// HelveticaNeue
.header__content__callout-2 {
    font-family: "HelveticaNeue", arial, sans-serif;
    font-weight: 400;
}

// HelveticaNeue Thin
.inner-section__heading--h2,
.our-services__data-list__button,
.inner-section__heading--h3,
.heading--h2,
.heading--h3,
.heading--h4 {
    font-family: "HelveticaNeue Thin", arial, sans-serif;
    font-weight: 200;
}

// HelveticaNeue Roman
.inner-section__main-text, {
    font-family: "HelveticaNeue Roman", arial, sans-serif;
    font-weight: 400;
}

// HelveticaNeue LightItalic
.our-approach__data-list__button {
    font-family: "HelveticaNeue LightItalic", arial, sans-serif;
    font-style: italic;
    font-weight: 200;
}

// DroidSerif Italic
.quote__content__main-text,
.quote__content__cite-text {
    font-family: "DroidSerif Italic", arial, sans-serif;
    font-style: italic;
    font-weight: 400;
}





/*
        ______            __       _____ _
       / ____/___  ____  / /_     / ___/(_)___  ___
      / /_  / __ \/ __ \/ __/_____\__ \/ /_  / / _ \
     / __/ / /_/ / / / / /_/_____/__/ / / / /_/  __/
    /_/    \____/_/ /_/\__/     /____/_/ /___/\___/

*/

// 14
.quote__content__cite-text,
.our-clients__content-list__item,
.our-process__data-list__deliverables,
.our-team__position,
.footer__copy,
.case-study__aside__list__item {
    @include font-size(14);
}

// 18
.heading--h4,
.inner-section__main-text {
    @include font-size(18);
}

// 26
.heading--h2,
.header__content__callout-1,
.our-services__data-list__button,
.our-approach__data-list__button {
    @include font-size(26);
}

// 30
.our-process__data-list__button,
.inner-section__heading--h3,
.contact-us-form__legend {
    @include font-size(30);
}

// 36
.heading--h3,
.inner-section__heading--h2,
.footer__content__call-us {
    @include font-size(36);
}

@media screen and (min-width: 35em) {
    // 18
    .quote__content__cite-text span {
        @include font-size(18);
    }

    // 22
    .heading--h4,
    .inner-section__main-text {
        @include font-size(22);
    }

    // 26
    .header__content__callout-2,
    .quote__content__main-text {
        @include font-size(26);
    }

    // 30
    .our-approach__data-list__button {
        @include font-size(30);
    }

    // 36
    .heading--h2,
    .header__content__callout-1 {
        @include font-size(36);
    }

    // 48
    .heading--h3,
    .inner-section__heading--h2 {
        @include font-size(48);
    }

    // Override
    .quote__content__main-text--case-study {
        @include font-size(18);
    }
}

@media screen and (min-width: 48.125em) {
    // 36
    .our-services__data-list__button {
        @include font-size(36);
    }
}





/*
        __    _      __     _   __                           ___             __  _
       / /   (_)____/ /_   / | / /___  _________ ___  ____ _/ (_)___  ____ _/ /_(_)___  ____
      / /   / / ___/ __/  /  |/ / __ \/ ___/ __ `__ \/ __ `/ / /_  / / __ `/ __/ / __ \/ __ \
     / /___/ (__  ) /_   / /|  / /_/ / /  / / / / / / /_/ / / / / /_/ /_/ / /_/ / /_/ / / / /
    /_____/_/____/\__/  /_/ |_/\____/_/  /_/ /_/ /_/\__,_/_/_/ /___/\__,_/\__/_/\____/_/ /_/

*/

.header__main-nav__list,
.our-services__data-title__list,
.our-clients__logo-list,
.our-team__list-1,
.our-team__list-2,
.our-team__list-1__name-position-list,
.our-team__list-2__name-position-list,
.footer__content__follow-list,
.case-study__aside__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}





/*
       _____            _ __
      / ___/____  _____(_) /____
      \__ \/ __ \/ ___/ / __/ _ \
     ___/ / /_/ / /  / / /_/  __/
    /____/ .___/_/  /_/\__/\___/
        /_/
*/

.header__main-nav__menu-button,
.header__content:after,
.our-approach__data-list__button:before,
.our-approach__data-list__button:after,
.quote__content__main-text:before,
.our-services__data-list__button:before,
.our-services__data-title__list__item:before,
.our-services__data-list__data__close-button,
.our-process__data-list__button:after,
.our-team__content:after,
.footer__content__follow-icon  {
    background-image: url('/images/sprite.png');
    background-repeat: no-repeat;
    overflow: hidden;
    text-indent: -9999px;
}





/*
        ____                         _____           __  _
       /  _/___  ____  ___  _____   / ___/___  _____/ /_(_)___  ____
       / // __ \/ __ \/ _ \/ ___/   \__ \/ _ \/ ___/ __/ / __ \/ __ \
     _/ // / / / / / /  __/ /      ___/ /  __/ /__/ /_/ / /_/ / / / /
    /___/_/ /_/_/ /_/\___/_/      /____/\___/\___/\__/_/\____/_/ /_/

*/

.inner-section {
    margin: 0 auto;
    padding: 1em 1em 3em 1em;
    @media screen and (min-width: 35em) {
        max-width: 60em;
        padding: 2em 2em 5em 2em;
    }
}

.inner-section__heading--h2 {
    text-transform: uppercase;
}

.inner-section__heading--h3 {
    color: $inner-section-heading-h3--text;
    text-align: center;
    @media screen and (min-width: 27.375em) {
        text-align: left;
    }
}

.inner-section__main-text {
    margin-top: -1em;
}





/*
        __  __               __
       / / / /__  ____ _____/ /__  _____
      / /_/ / _ \/ __ `/ __  / _ \/ ___/
     / __  /  __/ /_/ / /_/ /  __/ /
    /_/ /_/\___/\__,_/\__,_/\___/_/

*/

.header {
    background-color: $header--background;
}

.header__nav-bar {
    padding: 0;
    position: relative;
}

.header__nav-bar-section {
    background-color: $header-nav-bar-section--background;
    border-bottom: solid $header-nav-bar-section--border 1px;
    left: 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 3;
}

.lt-ie10 .header__nav-bar-section {
    position: static;
}

.header__logo-link {
    display: block;
    left: 1.3em;
    padding: .58em .7em;
    position: absolute;
    top: 0;
    z-index: 999;
    @media screen and (min-width: 43.75em) {
        left: .3em;
    }
}

.header__logo-link:active,
.header__logo-link:focus {
    background-color: $header-logo-link--background;
}

.header__main-nav {
    float: right;
    position: relative;
    width: 100%;
    @media screen and (min-width: 43.75em) {
        width: auto;
    }
}

.header__main-nav__menu-button {
    background-color: transparent;
    background-position: -130px -211px;
    border: none;
    display: block;
    height: 16px;
    float: right;
    margin: 0 1em 0 0;
    padding: 1.7em;
    width: 19px;
    @media screen and (min-width: 43.75em) {
        display: none;
    }
}

.header__main-nav__menu-button:active,
.header__main-nav__menu-button:focus {
    background-color: $header-main-nav-menu-button--background;
}

.header__main-nav__list {
    background-color: $header-main-nav-list--background;
    border-top: solid $header-nav-bar-section--border 1px;
    border-bottom: solid $header-nav-bar-section--border 1px;
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    width: 100%;
    z-index: 999;

    @media screen and (min-width: 43.75em) {
        border-top: none;
        border-bottom: none;
        display: block;
        position: static;
    }
}

.header__main-nav__list__item {
    border-bottom: solid $header-main-nav-list-item--border 1px;
    @media screen and (min-width: 43.75em) {
        border-bottom: none;
        float: left;
    }
}

.header__main-nav__list__item:last-child {
    border: none;
}

.header__main-nav__list__item__link {
    color: $header-main-nav-list-item-link--text;
    display: block;
    font-weight: bold;
    padding: 1em;
    text-decoration: none;
    @media screen and (min-width: 43.75em) {
        padding: 1em .5em;
    }
    @media screen and (min-width: 49.063em) {
        padding: 1em;
    }
}

.header__main-nav__list__item__link:active,
.header__main-nav__list__item__link:focus,
.header__main-nav__list__item__link:hover {
    background-color: $header-main-nav-list-item-link--background;
    @media screen and (min-width: 43.75em) {
        background-color: transparent;
        text-decoration: underline;
    }
}

.header__content-section {
    background: $header__content-section--background;
    padding: 5em 0 0 0;
    @media screen and (min-width: 35em) {
        background: $header__content-section--background url('/images/header-bg.png') no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

.header__content {
    padding-bottom: 7em;
    position: relative;
    a {
        color: $black;
    }
}

.header__content:after {
    background-position: 100% 0;
    bottom: -.8em;
    content: "";
    display: block;
    height: 117px;
    left: 50%;
    margin-left: -53px;
    position: absolute;
    width: 111px;
}

.header__content__callout-1 {
    color: $header-content-callout-1--text;
    font-weight: bold;
}

.header__content__callout-2 {
    color: $header-content-callout-2--text;
}





/*
       ____                ___                                      __
      / __ \__  _______   /   |  ____  ____  _________  ____ ______/ /_
     / / / / / / / ___/  / /| | / __ \/ __ \/ ___/ __ \/ __ `/ ___/ __ \
    / /_/ / /_/ / /     / ___ |/ /_/ / /_/ / /  / /_/ / /_/ / /__/ / / /
    \____/\__,_/_/     /_/  |_/ .___/ .___/_/   \____/\__,_/\___/_/ /_/
                             /_/   /_/
*/

.our-approach {
    background-color: $our-approach--background;

    .inner-section__heading--h2 {
        color: $our-approach-title--text;
    }
}

.our-approach__content {
    padding: 1em 1em 0 1em;
    @media screen and (min-width: 35em) {
        padding: 2em 2em 0 2em;
    }
}

// Data List
.our-approach__data-list {
    border-top: solid $our-approach-data-list--border 1px;
    border-right: solid $our-approach-data-list--border 1px;
    border-left: solid $our-approach-data-list--border 1px;
    margin: 0 auto;
    padding: 0 1em 1em 1em;
    position: relative;
    @media screen and (min-width: 35em) {
        max-width: 48.75em;
        padding: 0 2em 2em 2em;
    }
}

/*
.our-approach__data-list:before,
.our-approach__data-list:after
{
    content: "";
    position: absolute;
    z-index: -1;
    box-shadow: 0 0 40px rgba(0,0,0,0.8);
    top: 10px;
    bottom: 40px;
    left: 0;
    right: 0;
    border-radius: 100px / 10px;
    width: 50%;
}

.our-approach__data-list:after
{
  left: .45em;
  right: auto;
    -webkit-transform:skew(-1deg) rotate(-4deg);
       -moz-transform:skew(-1deg) rotate(-4deg);
        -ms-transform:skew(-1deg) rotate(-4deg);
         -o-transform:skew(-1deg) rotate(-4deg);
            transform:skew(-1deg) rotate(-4deg);
}

.our-approach__data-list:before {
    left: auto;
    right: .4em;
    -webkit-transform:skew(1deg) rotate(4deg);
       -moz-transform:skew(1deg) rotate(4deg);
        -ms-transform:skew(1deg) rotate(4deg);
         -o-transform:skew(1deg) rotate(4deg);
            transform:skew(1deg) rotate(4deg);
}
*/

.our-approach__data-list__title:nth-child(1n+2) {
    border-top: dashed $our-approach-data-list-button--border 1px;
}

// Button
.our-approach__data-list__button {
    color: $our-approach-data-list-button--text;
    background: transparent;
    border: none;
    padding: 1em 2em 1em 0;
    position: relative;
    text-align: left;
    width: 100%;
    @media screen and (min-width: 35em) {
        padding: 1em 3em;
    }
}

.our-approach__data-list__button:before {
    display: none;
    @media screen and (min-width: 35em) {
        background-position: 0px -118px;
        content: "";
        display: block;
        height: 30px;
        left: 1em;
        position: absolute;
        top: 1.1em;
        width: 30px;
    }
}

.our-approach__data-list__button.active:before {
    background-position: -60px -118px;
}

.our-approach__data-list__button:active:before,
.our-approach__data-list__button:focus:before,
.our-approach__data-list__button:hover:before {
    background-position: -30px -118px;
}

.our-approach__data-list__button:after {
    background-position: -2px -102px;
    content: "";
    height: 14px;
    position: absolute;
    right: 1em;
    top: 1.3em;
    width: 14px;
    @media screen and (min-width: 35em) {
        background-position: 14px 14px;
    }
}

.our-approach__data-list__button.active:after,
.our-approach__data-list__button.active:active:after,
.our-approach__data-list__button.active:focus:after,
.our-approach__data-list__button.active:hover:after {
    background-position: -19px -102px;
}

.our-approach__data-list__button:active:after,
.our-approach__data-list__button:focus:after,
.our-approach__data-list__button:hover:after {
    @media screen and (min-width: 35em) {
        background-position: -2px -102px;
    }
}

// Data
.our-approach__data-list__data {
    display: none;
    margin: 0;
    padding: 0 1em 1em 1em;
    transition: all 0.5s ease;
    @media screen and (min-width: 35em) {
        margin: 0 0 0 3em;
        padding: 0 3em 1.875em 3em;
    }
}

.no-js .our-approach__data-list__data,
.lt-ie8 .our-approach__data-list__data {
    display: block;
}





/*
       ____              __
      / __ \__  ______  / /____
     / / / / / / / __ \/ __/ _ \
    / /_/ / /_/ / /_/ / /_/  __/
    \___\_\__,_/\____/\__/\___/

*/

.quote {
    background: $quote--background;
    @media screen and (min-width: 35em) {
        background: $quote--background url('/images/quote-bg.png') no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

.quote__content {
    padding: 3em 2em 2em 2em;
    position: relative;
    @media screen and (min-width: 35em) {
        padding: 4em 2em;
    }
}

.quote__content__main-text {
    margin: 0;
    position: relative;
    width: auto;
    @media screen and (min-width: 35em) {
        margin: 0 7.692em 0 0;
        overflow: hidden;
        padding: 0 0 0 1.731em;
    }
}

.quote__content__main-text:before {
    background-position: -121px -118px;
    content: "";
    height: 21px;
    left: -1em;
    position: absolute;
    top: -1.4em;
    width: 28px;
    @media screen and (min-width: 35em) {
        left: 0;
        top: .3em;
    }
}

.quote__content__cite-text {
    color: $quote-content-cite-text--text;
    padding: 1em 0 0 0;
    span {
        display: block;
    }
    @media screen and (min-width: 35em) {
        padding: 0 0 0 1.875em;
        position: absolute;
        right: 0;
        top: 4em;
        width: 12.5em;
    }
}





/*
       ____                _____                 _
      / __ \__  _______   / ___/___  ______   __(_)_______  _____
     / / / / / / / ___/   \__ \/ _ \/ ___/ | / / / ___/ _ \/ ___/
    / /_/ / /_/ / /      ___/ /  __/ /   | |/ / / /__/  __(__  )
    \____/\__,_/_/      /____/\___/_/    |___/_/\___/\___/____/

*/

.our-services {
    background: $our-services--background;
    @media screen and (min-width: 35em) {
        background: $our-services--background url('/images/our-services-bg.png') no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .inner-section__heading--h2 {
        color: $our-services-title--text;
    }
}

.our-services__content {
    @media screen and (min-width: 43.125em) {
        padding: 2em 2em 18em 2em;
    }
}

.no-js .our-services__content,
.lt-ie9 .our-services__content {
    padding: 2em;
}

// Data List
.our-services__data-list {
    position: relative;
}

.our-services__data-list__title {
    margin: 0 0 1em 0;
    @media screen and (min-width: 43.125em) {
        float: left;
        margin: 0;
        width: 32%;
    }
}

.our-services__data-list__title:nth-child(3) {
    @media screen and (min-width: 43.125em) {
        margin: 0 2%;
    }
}

.no-js .our-services__data-list__title,
.lt-ie9 .our-services__data-list__title {
    float: none;
}

// Button
.our-services__data-list__button {
    background-color: $our-services-data-list-button--background;
    border: none;
    color: $our-services-data-list-button--text;
    height: 3.056em;
    position: relative;
    width: 100%;
    @media screen and (min-width: 48.125em) {
        height: 3.056em;
    }
}

.our-services__data-list__button--before {
    @media screen and (min-width: 43.125em) {
        text-indent: 1.4em;
    }
}

.our-services__data-list__button--during {
    @media screen and (min-width: 43.125em) {
        text-indent: 2.2em;
    }
}

.our-services__data-list__button--after {
    @media screen and (min-width: 43.125em) {
        text-indent: 1.6em;
    }
}

.our-services__data-list__button.active {
    background-color: $our-services-data-list-button--background--active;
}

.our-services__data-list__button:active,
.our-services__data-list__button:focus,
.our-services__data-list__button:hover {
    background-color: $our-services-data-list-button--background--hover;
}

.our-services__data-list__button:before {
    display: none;
    @media screen and (min-width: 20em) {
        content: "";
        display: block;
        position: absolute;
    }
}

.our-services__data-list__button--before:before {
    background-position: -2px -149px;
    height: 69px;
    left: .5em;
    top: .2em;
    width: 48px;
    @media screen and (min-width: 43.125em) {
        left: .2em;
    }
    @media screen and (min-width: 48.125em) {
        left: .5em;
        top: .55em;
    }
    @media screen and (min-width: 53.125em) {
        left: 1em;
    }
}

.our-services__data-list__button--during:before {
    background-position: -51px -149px;
    height: 68px;
    left: .5em;
    top: .2em;
    width: 68px;
    @media screen and (min-width: 43.125em) {
        left: .2em;
    }
    @media screen and (min-width: 48.125em) {
        left: .5em;
        top: .6em;
    }
    @media screen and (min-width: 53.125em) {
        left: 1em;
    }
}

.our-services__data-list__button--after:before {
    background-position: -121px -149px;
    height: 61px;
    left: .5em;
    top: .4em;
    width: 69px;
    @media screen and (min-width: 43.125em) {
        left: .2em;
    }
    @media screen and (min-width: 48.125em) {
        left: .5em;
        top: .7em;
    }
    @media screen and (min-width: 53.125em) {
        left: 1em;
    }
}

// Data
.our-services__data-list__data {
    background-color: $our-services-data-list-data--background;
    display: none;
    margin: 1em 0;
    padding: 1.5em 2em;
    width: 100%;
    @media screen and (min-width: 43.125em) {
        left: 0;
        position: absolute;
        top: 100%;
    }
}

.no-js .our-services__data-list__data,
.lt-ie9 .our-services__data-list__data {
    display: block;
    margin: 0 1em 1em 1em;
    position: static;
}

.our-services__data-list__data__close-button {
    background-color: transparent;
    background-position: -151px -118px;
    border: none;
    float: right;
    height: 25px;
    margin: 0 -.5em 0 0;
    width: 25px;
}

.no-js .our-services__data-list__data__close-button,
.lt-ie9 .our-services__data-list__data__close-button {
    display: none;
}

.our-services__data-title {
    font-weight: bold;
}

.our-services__data-title__list__item {
    float: left;
    margin: 0 0 .5em 0;
    padding: 0 .5em 0 1.5em;
    position: relative;
    @media screen and (min-width: 35em) {
        height: 3.5em;
        width: 50%;
    }
    @media screen and (min-width: 43.125em) {
        margin: 0;
    }
}

.our-services__data-title__list__item:before {
    background-position: -35px -102px;
    content: "";
    height: 11px;
    left: 0;
    position: absolute;
    top: .3em;
    width: 12px;
}





/*
       ____                ____
      / __ \__  _______   / __ \_________  ________  __________
     / / / / / / / ___/  / /_/ / ___/ __ \/ ___/ _ \/ ___/ ___/
    / /_/ / /_/ / /     / ____/ /  / /_/ / /__/  __(__  |__  )
    \____/\__,_/_/     /_/   /_/   \____/\___/\___/____/____/

*/

.our-process {
    background-color: $our-process--background;

    .inner-section__heading--h2 {
        color: $our-process-title--text;
    }
}

// Buttons
.our-process__data-list__button {
    background-color: $our-process-data-list-button--background;
    border: solid $our-process-data-list-button--border 1px;
    border-radius: .167em;
    color: $our-process-data-list-button--text;
    margin: 0 0 .5em 0;
    padding: 1em;
    position: relative;
    text-align: left;
    width: 100%;
}

.no-js .our-process__data-list__button,
.our-process__data-list__button.active {
    border-top: solid $our-process-data-list-button--border 1px;
    border-right: solid $our-process-data-list-button--border 1px;
    border-bottom: none;
    border-left: solid $our-process-data-list-button--border 1px;
    border-radius: .167em .167em 0 0;
    margin: 0;
    padding: 1em;
}

.our-process__data-list__button:active,
.our-process__data-list__button:focus,
.our-process__data-list__button:hover {
    background-color: $our-process-data-list-button--text;
    color: $our-process-data-list-button--background;
}

.our-process__data-list__button:active.active,
.our-process__data-list__button:focus.active,
.our-process__data-list__button:hover.active {
    background-color: $our-process-data-list-button--background;
    color: $our-process-data-list-button--text;
}

/*.our-process__data-list__button:active:after,
.our-process__data-list__button:focus:after,
.our-process__data-list__button:hover:after {
    background-position: -1px -1px;
    height:
    position: absolute;
    width:
}*/

// Data
.our-process__data-list__data {
    background-color: $our-process-data-list-button--background;
    border-top: none;
    border-right: solid $our-process-data-list-button--border 1px;
    border-bottom: solid $our-process-data-list-button--border 1px;
    border-left: solid $our-process-data-list-button--border 1px;
    border-radius: 0 0 .313em .313em;
    display: none;
    margin: -1em 0 1em 0;
    padding: .1em 1.875em;
    width: 100%;
}

.no-js .our-process__data-list__data,
.lt-ie8 .our-process__data-list__data {
    display: block;
}

.our-process__data-list__deliverables {
    border-top: solid $our-process-data-list-deliverables--border 1px;
    color: $our-process-data-list-deliverables--text;
    margin: 2em 0 0 0;
    padding: .5em 0 1em 0;
}





/*
       ____                _________            __
      / __ \__  _______   / ____/ (_)__  ____  / /______
     / / / / / / / ___/  / /   / / / _ \/ __ \/ __/ ___/
    / /_/ / /_/ / /     / /___/ / /  __/ / / / /_(__  )
    \____/\__,_/_/      \____/_/_/\___/_/ /_/\__/____/

*/

.our-clients {
    background-color: $our-clients--background;

    .inner-section__heading--h2 {
        color: $our-clients-title--text;
    }
}

.our-clients__logo-list__item {
    float: left;
    padding: 1px;
    width: 100%;
    @media screen and (min-width: 21.25em) {
        width: 50%;
    }
    @media screen and (min-width: 33em) {
        width: 33.3%;
    }
    @media screen and (min-width: 50.313em) {
        width: 25%;
    }
}

.our-clients__logo-list__item__link {
    display: block;
    text-align: center;
    vertical-align: middle;
    position: relative;
    width: 100%;
}

.our-clients__logo-list__item__link:active:after,
.our-clients__logo-list__item__link:focus:after,
.our-clients__logo-list__item__link:hover:after {
    background-color: $our-clients-logo-list-item-link--after--background;
    bottom: 0;
    color: $our-clients-logo-list-item-link--after--text;
    content: attr(data-text)"\2192";
    height: 100%;
    font-weight: bold;
    left: 0;
    opacity: .8;
    position: absolute;
    right: 0;
    text-align: left;
    text-decoration: none;
    top: 0;
    width: 100%;
}

.our-clients__full-list-button {
    background-color: $our-clients-full-list-button--background;
    border: none;
    border-radius: .313em;
    color: $our-clients-full-list-button--text;
    font-weight: bold;
    margin: 2em 0 0 0;
    padding: .938em 2.188em;
}

.no-js .our-clients__full-list-button {
    display: none;
}

.our-clients__full-list {
    display: none;
    margin: 3em 0  0 0;
}

.no-js .our-clients__full-list,
.our-clients__full-list.active {
    display: block;
}

.our-clients__content-list__item {
    float: left;
    padding: 0 1.5em 0 0;
    width: 100%;
    @media screen and (min-width: 35em) {
        width: 50%;
    }
    @media screen and (min-width: 46.875em) {
        width: 33%;
    }

}





/*
       ____                ______
      / __ \__  _______   /_  __/__  ____ _____ ___
     / / / / / / / ___/    / / / _ \/ __ `/ __ `__ \
    / /_/ / /_/ / /       / / /  __/ /_/ / / / / / /
    \____/\__,_/_/       /_/  \___/\__,_/_/ /_/ /_/

*/

.our-team {
    background-color: $our-team--backgroud;

    .inner-section__heading--h2 {
        color: $our-team-title--text;
    }
}

.our-team__content {
    padding: 2em 2em 7em 2em;
    position: relative;
}

.our-team__content:after {
    background-position: -36px 0;
    bottom: -.5em;
    content: "";
    display: block;
    height: 86px;
    left: 80%;
    margin-left: -53px;
    position: absolute;
    width: 80px;
}

.our-team__content__left {
    @media screen and (min-width: 46.875em) {
        float: left;
        padding: 0 1em 0 0;
        width: percentage(550px / 960px);
    }
}

.our-team__content__right {
    @media screen and (min-width: 46.875em) {
        float: left;
        width: percentage(410px / 960px);
    }
}

.our-team__list-1__item {
    text-align: center;
    margin: 0 0 1em 0;
    @media screen and (min-width: 27.375em) and (max-width: 46.875em), (min-width: 57.5em) {
        margin: 1em 0;
    }
}

.our-team__list-2__item {
    float: left;
    padding: 0 1em 1em 0;
    text-align: center;
    width: 100%;
    @media screen and (min-width: 38.375em) and (max-width: 46.875em) {
        text-align: left;
        width: 50%;
    }
    @media screen and (min-width: 46.875em) {
        width: 33%;
    }
    @media screen and (min-width: 46.813em) and (max-width: 57.5em) {
        text-align: center;
    }
}

.our-team__list-1__name-position-list {
    @media screen and (min-width: 27.375em) and (max-width: 46.875em), (min-width: 57.5em) {
        float: left;
        margin: 2.5em 0 0 1em;
    }
}

.our-team__list-2__name-position-list {
    @media screen and (min-width: 27.375em) and (max-width: 46.875em), (min-width: 57.5em) {
        float: left;
        margin: 1.4em 0 0 1em;
    }
}

.our-team__image {
    border-radius: 50%;
    @media screen and (min-width: 27.375em) and (max-width: 46.875em), (min-width: 57.5em) {
        float: left;
    }
}

.our-team__name {
    color: $our-tea-name--text;
    font-weight: bold;
}





/*
       ______                   _____ __            __
      / ____/___ _________     / ___// /___  ______/ /_  __
     / /   / __ `/ ___/ _ \    \__ \/ __/ / / / __  / / / /
    / /___/ /_/ (__  )  __/   ___/ / /_/ /_/ / /_/ / /_/ /
    \____/\__,_/____/\___/   /____/\__/\__,_/\__,_/\__, /
                                                  /____/
*/

.case-study {
    background-color: $case-study--background;
}

.case-study__content {
    overflow: hidden;
    position: relative;
}

.case-study__article {
    @media screen and (min-width: 43.75em) {
        float: left;
        padding: 0 2em 0 0;
        width: 73%;
    }
}

.case-study__aside {
    @media screen and (min-width: 43.75em) {
        float: left;
        width: 27%;
    }
}

.case-study__aside__list__item {
    margin: 0 0 .5em 0;
}

// Header
.header__content--case-study {
    padding: 2em 2em 3em 2em;
}

.header__content--case-study:after {
    display: none;
}

// Quote
.quote__content--case-study {
    padding: 2em 0;
}

.quote__content__main-text--case-study {
    float: none;
    margin: 0;
    padding: 0 0 0 2em;
}

.quote__content__cite-text--case-study {
    margin: 1em 0 0 0;
    padding: 0 0 0 2em;
    position: static;
    width: 100%;
}

// Logo
.our-clients__logo-list__item__logo--case-study {
    @media screen and (min-width: 35em) {
        margin: 5em 0;
    }
}


/*
        ______            __
       / ____/___  ____  / /____  _____
      / /_  / __ \/ __ \/ __/ _ \/ ___/
     / __/ / /_/ / /_/ / /_/  __/ /
    /_/    \____/\____/\__/\___/_/

*/

.footer {
    background-color: $footer--background;

    .inner-section__heading--h2 {
        color: $contact-us-title--text;
    }
}

.footer--case-study {
    background-color: $our-clients--background;
    padding: 0 2em;
}

// Text
.footer__content__left {
    @media screen and (min-width: 53.5em) {
        float: left;
        padding: 0 3em 0 0;
        width: percentage(540px / 960px);
    }
}

.footer__content__right {
    @media screen and (min-width: 53.5em) {
        float: left;
        width: percentage(420px / 960px);
    }
}

.footer__content__call-us {
    color: $footer-content-call-us--text;
    a {
        color: $footer-content-call-us--text;
        text-decoration: none;
    }
}

.footer__content__address {
    @media screen and (min-width: 27.25em) {
        float: left;
        padding: 0 2em 0 0;
        width: percentage(320px / 500px);
    }
}

.footer__content__follow {
    @media screen and (min-width: 27.25em) {
        float: left;
        margin: 1em 0 0 0;
        width: percentage(180px / 500px);
    }
}

.footer__content__follow-list__item {
    float: left;
    margin: 0 .625em 0 0;
}

.footer__content__follow-icon {
    display: block;
    height: 60px;
    width: 60px;
}

.footer__content__follow-icon--linkedin {
    background-position: -2px -221px;
}

.footer__content__follow-icon--twitter {
    background-position: -64px -221px;
}

// Form
.contact-us-form {
    margin: 2em 0 0 0;
    @media screen and (min-width: 27.25em) {
        margin: 0;
    }
}

.contact-us-form__legend {
    color: $contact-us-form-legend--text;
    margin: 0 0 .5em 0;
}

.contact-us-form__label {
    color: $contact-us-form-label--text;
    display: block;
}

.contact-us-form__input, .contact-us-form__textarea {
    border: none;
    border-radius: .313em;
    display: block;
    margin: .1em 0 .7em 0;
    padding: .8em;
    width: 100%;
}

.contact-us-form__input--small {
    width: 80%;
}

.contact-us-form__textarea {
    min-height: 8em;
}

.contact-us-form__submit-button {
    background-color: $contact-us-form-submit-button--background;
    border: none;
    border-radius: .313em;
    color: $contact-us-form-submit-button--text;
    display: block;
    padding: .8em 1.5em;
}
